<% @cards.each do |card| %>
  <div class="card m-3">
    <div class='card-body'>
      <h2 class='card-title'><%= card.title %></h2>
      <% card.items.each do |item| %>
        <div data-controller="item" data-item-id="<%= item.id %>" class="d-inline">
          <button data-action="click->item#check" type="button" class="m-1 btn btn-<%= item.score > 0.0 ? 'primary' : 'danger' %>">
            <%= item.title %>
            (<span data-target="item.count">0</span>)
          </button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
