<% @cards.each do |card| %>
  <div class="card m-3">
    <div class='card-body'>
      <h2 class='card-title'><%= card.title %></h2>
      <% card.items.each do |item| %>
        <button type="button" class="btn btn-<%= item.score > 0.0 ? 'primary' : 'danger' %> m-1"><%= item.title %></button>
      <% end %>
    </div>
  </div>
<% end %>
