// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-colour: #efefef;
$pos-color: #078898;
$pos-color-light: #66b9bf;
$neg-color: #e37222;
$neg-color-light: #eeaa7b;

.card-deck > .card {
  min-width: 18em;
}

.items {
  .item-positive {
    .card-header {
      background-color: $pos-color;
      color: black;
    }
    .card-body {
      background-color: $pos-color-light;
      color: black;
    }
  }
  .item-negative {
    .card-header {
      background-color: $neg-color;
      color: black;
    }
    .card-body {
      background-color: $neg-color-light;
      color: black;
    }
  }
}

.card-header h1 {
  font-size: 1.2em;
  font-weight: normal;
  width: 70%;
}

.rewards {
  font-size: 2em;
}

.hide {
  display: none;
}

.item-title {
  width: 11em;
}

.count {
  width: 1.5em;
  text-align: right;
}

.popularity {
  font-size: 0.7em;
  padding-top: 0.4em;
  width: 2em;
  text-align: left;
  font-weight: bold;
  opacity: 0.6;
}