// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-colour: #efefef;
$pos-color: #078898;
$pos-color-light: #66b9bf;
$neg-color: #e37222;
$neg-color-light: #eeaa7b;

.card-deck > .card {
  min-width: 18em;
}

.items {
  .item-positive {
    .card-header {
      background-color: $pos-color;
      color: black;
    }
    .card-body {
      background-color: $pos-color-light;
      color: black;
    }
  }
  .item-negative {
    .card-header {
      background-color: $neg-color;
      color: black;
    }
    .card-body {
      background-color: $neg-color-light;
      color: black;
    }
  }
}

.rewards {
  font-size: 2.5em;
}

.hide {
  display: none;
}
