// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-colour: rgb(229, 242, 254);
$safe-color: rgb(1, 176, 198);
$danger-color: rgb(238, 111, 66);

.btn-primary,
.btn-primary:hover {
  background-color: $safe-color;
  border-color: $safe-color;
  color: #ffffff;
}

.btn-danger,
.btn-danger:hover {
  background-color: $danger-color;
  border-color: $danger-color;
  color: #ffffff;
}

.container {
  background-color: $bg-colour;
}

.rewards {
  font-family: "wingdings";
  color: green;
}
